@font-face {
    font-family: montserrat;
    src: url('/font/montserrat/Montserrat-Regular.ttf');
}
@font-face {
    font-family: montserrat;
    src: url('/font/montserrat/Montserrat-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: montserrat;
    src: url('/font/montserrat/Montserrat-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: montserrat;
    src: url('/font/montserrat/Montserrat-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: montserrat;
    src: url('/font/montserrat/Montserrat-ExtraBold.ttf');
    font-weight: 800;
}
@font-face {
    font-family: montserrat;
    src: url('/font/montserrat/Montserrat-Black.ttf');
    font-weight: 900;
}
.font-montserrat{
    font-family: montserrat;
}