@font-face {
  font-family: montserrat;
  src: url("/font/montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: montserrat;
  src: url("/font/montserrat/Montserrat-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: montserrat;
  src: url("/font/montserrat/Montserrat-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: montserrat;
  src: url("/font/montserrat/Montserrat-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: montserrat;
  src: url("/font/montserrat/Montserrat-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: montserrat;
  src: url("/font/montserrat/Montserrat-Black.ttf");
  font-weight: 900;
}
.font-montserrat {
  font-family: montserrat;
}

@font-face {
  font-family: poppins;
  src: url("/font/poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: poppins;
  src: url("/font/poppins/Poppins-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: poppins;
  src: url("/font/poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: poppins;
  src: url("/font/poppins/Poppins-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: poppins;
  src: url("/font/poppins/Poppins-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: poppins;
  src: url("/font/poppins/Poppins-Black.ttf");
  font-weight: 900;
}
.font-poppins {
  font-family: poppins;
}

html {
  font-size: 13px;
  overflow: auto;
}
@media (min-width: 575px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 17px;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 1680px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 1920px) {
  html {
    font-size: 22px;
  }
}

:root {
  --white: white;
  --black: black;
  --red: red;
  --blue: blue;
  --green: green;
  --lime: lime;
  --yellow: yellow;
  --orange: orange;
  --gray: gray;
  --bunker: #161b22;
  --green-1: #00ff88;
  --purple-1: #651aa3;
}

.container {
  width: 100%;
  max-width: var(--container, 77.5rem);
  margin-left: auto;
  margin-right: auto;
}

.bg, .bg img, .bg .capa {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.input.error {
  --box-c: var(--error,var(--red));
}
.input.ok {
  --box-c: var(--ok,var(--green));
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--white, white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray, gray);
}

body {
  padding-top: var(--sizeHeader, 0);
}

/*# sourceMappingURL=style.css.map */
